<div id="account-overview" v-cloak>
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12">
        <h1><%= __('account.my') %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-3">
        <h4 class="font-weight-bold"><%= __('account.amount') %>: {{ me.funds }} VAL</h4>
        <p>
          <%= __('account.nextDecrease') %>: <show-date :show-time="me.role === 'admin'" :at="me.decreaseAt"></show-date>
          <info-tooltip content="<%= __('faq.13.a'); %> <%= __('faq.14.a'); %>" />
        </p>
      </div>

      <div class="col-12 mt-3">
        <h4>
          <%= __('account.active') %>: <span  :class="me.active?'text-success':'text-danger'"><%= me.active ? __('yes') : __('no') %></span>
        </h4>
        <p>
          <span v-if="me.active"><%= __('account.deactivateAt') %>: <show-date :at="me.deactivateAt"></show-date></span>
          <span v-else-if="me.activateAt>0"><%= __('account.activateAt') %>: <show-date :at="me.activateAt"></show-date></span>
          <span v-else><%= __('account.activateAtForecast') %> <show-date :at="activateAtForecast"></show-date></span>
          <info-tooltip content="<%= __('faq.9.q'); %> <%= __('faq.9.a'); %> <%= __('faq.11.q'); %> <%= __('faq.11.a'); %>" />
        </p>
      </div>
    </div>

    <hr/>

    <div class="row mb-3">
      <div class="col-12">
        <h4><%= __('account.personalInformations') %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-lg-3"><%= __('name') %>:</div>
      <div class="col-6 col-lg-9"><strong>{{me.fullName}}</strong></div>
    </div>
    <div class="row">
      <div class="col-6 col-lg-3"><%= __('email') %>:</div>
      <div class="col-6 col-lg-9">
        <strong :class="[me.emailStatus === 'unconfirmed' || me.emailStatus === 'change-requested' ? 'text-muted' : '']">{{me.email}}</strong>
        <span v-if="me.emailStatus === 'unconfirmed' || me.emailStatus === 'change-requested'" class="badge badge-pill bg-warning"><%= __('account.notVerified') %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-lg-3"><%= __('username') %>:</div>
      <div class="col-6 col-lg-9">
        <strong>{{ me.username }}</strong> <clipboard-text title="<%= __('clipboard.copy.username'); %>" :content="me.username" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/account/profile"><%= __('account.editProfile') %></a>
      </div>
    </div>
    
    <hr/>
    
    <div class="row mb-3">
      <div class="col-12">
        <h4><%= __('account.notifications') %></h4>
      </div>
    </div>
    <div class="row">
      <% for (const nName in me.notifications) { %>
        <%   const nEnabled = me.notifications[nName]; %>
        <div class="col-12">
          <input id="<%= nName %>" type="checkbox" class="form-check-input" <%= nEnabled ? 'checked="true"' : '' %> disabled />
          <label for="<%= nName %>"><%= __('notification.' + nName) %></label>
        </div>
      <% } %>
    </div>
    <div class="row mt-3" v-if="">
      <div class="col-12">
        <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/account/notifications"><%= __('account.edit') %></a>
      </div>
    </div>
    
    <hr/>
    
    <div class="row mb-3">
      <div class="col-12">
        <h4><%= __('password') %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-lg-3"><%= __('password') %>:</div>
      <div class="col-6 col-lg-9"><strong>••••••••••</strong></div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <span class="float-sm-right">
          <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/account/password"><%= __('account.password.change.title') %></a>
        </span>
      </div>
    </div>
    
    <hr/>
    
    <div class="row mb-3">
      <div class="col-12">
        <h4><%= __('account.delete') %></h4>
        <p class="text-danger"><%= __('account.delete.warning') %></p>
      </div>
      <div class="col-md-3">
        <ajax-form action="delete" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-errors.sync="formErrors" :form-data="formData" :form-rules="formRules" @submitted="submittedForm()">
          
          <label for="username"><%= __('username') %></label>
          <input class="form-control" id="username" name="username" type="text"  
            v-model.trim="formData.username"
            :class="[formErrors.username ? 'is-invalid' : '']">
              
          <ajax-button type="submit" 
            :syncing="syncing" 
            class="btn btn-danger text-uppercase mt-3"
            :disabled="formData.username !== me.username || !deleteConfirm"
            v-show="deleteConfirm">
              <%= __('account.delete.confirm'); %>
          </ajax-button>
        </ajax-form>
            
        <button
          class="btn btn-danger text-uppercase mt-3"
          :disabled="formData.username !== me.username"
          @click="showDeleteConfirm()"
          v-if="!deleteConfirm">
            <%= __('account.delete'); %>
        </button>
      </div>
    </div>
    
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
