<div id="dashboard">
  <account-notification-banner></account-notification-banner>
    
  <div class="container pt-5 pb-5">
    <div class="row border border-info rounded shadow bg-light ml-1 mr-1 p-4">
      <div class="col-sm-12 col-md-6 mx-auto text-center">
        <h2>
          <%= __('welcome') %>, <a class="text-decoration-none" :href="'/~'+me.username" title="<%= __('account.go'); %>">{{ me.fullName }}</a>
          <clipboard-text title="<%= __('account.receive.body', me.username) %> <%= __('clipboard.copy.username'); %>" :content="me.username" />
        </h2>
        
        <% if (attendance) { %>
        <p class="text-success fw-bolder">
          <%= __('attendanceFee'); %>: "{{ attendance.title }}".
          <%- __('attendanceFee.sendDate', attendance.attendanceFee, '<show-date :at="attendance.sendAttendanceFeeAt" />'); %>
        </p>
        <% } %>

        <hr>
        
        <h3><%= __('account.amount') %>: <strong>{{ me.funds }} VAL</strong></h3>
        <small class="text-secondary fw-bolder">
          <%= __('account.nextDecrease') %>: <show-date :at="me.decreaseAt"></show-date>
          <info-tooltip content="<%= __('faq.13.a'); %> <%= __('faq.14.a'); %>" />
        </small>
    
        <% if (attendances.length) { %>
        <hr>
        <p v-if="attendances.length" class="text-muted text-center">
          <%= __('attendanceFees') %>: <span v-for="(a, i) in attendances" :key="a.id">{{ a.title }}<span v-if="i < attendances.length-1">, </span></span>
        </p>
        <% } %>

        <hr>

        <h5>
          <%= __('account.active') %>: <span :class="me.active?'text-success':'text-danger'"><%= me.active ? __('yes') : __('no') %></span>
        </h5>
        <small v-if="me.active" class="text-secondary"><%= __('account.deactivateAt') %>: <show-date :at="me.deactivateAt"></show-date></small>
        <small v-else-if="me.activateAt>0" class="text-secondary"><%= __('account.activateAt') %>: <show-date :at="me.activateAt"></show-date></small>
        <small v-else class="text-secondary"><%= __('account.activateAtForecast') %> <show-date :at="activateAtForecast"></show-date></small>
        <info-tooltip content="<%= __('faq.9.q'); %> <%= __('faq.9.a'); %> <%= __('faq.11.q'); %> <%= __('faq.11.a'); %>" />
      </div>
    </div>

    <div class="alert alert-light border mt-5" role="alert" v-if="!transactions.length || (!me.active && !me.activateAt)">
        <h3><%= __('account.receive.title'); %></h3>
        <p>
          <%- __('account.receive.body', me.username); %>
          <clipboard-text title="<%= __('clipboard.copy.username'); %>" :content="me.username" label="true" />
        </p>
        <h3><%= __('account.send.title'); %></h3>
        <p>
          <%- __('account.send.body', '/~'); %>
        </p>
    </div>
    
    <h2 class="mt-5 text-center"><%= __('account.transactions') %></h2>
    <div class="transactions ml-1 mr-1" v-if="transactions.length">
      <div class="row text-center font-weight-bold mt-2 border-bottom border-secondary d-none d-md-flex">
        <div class="col-md-2 border">
          <%= __('date') %>
        </div>
        <div class="col-md-2 border">
          <%= __('amount') %>
        </div>
        <div class="col-md-5 border">
          <%= __('reason') %>
        </div>
        <div class="col-md-3 border">
          <%= __('user') %>
        </div>
      </div>
      <div class="row text-center mt border-bottom border-secondary higlight-row" v-for="item in transactions" :key="item.id">
        <div class="col-md-2 border">
          <show-date :show-time="true" :at="item.date"></show-date>
        </div>
        <div class="col-md-2 border pr-4 text-center text-md-end" :class="item.isPayin ? 'in' : 'out'">
          {{ item.amount }} VAL
        </div>
        <div class="col-md-5 border text-truncate" :title="!item.isDecrease ? item.reason : ''">
          <span v-if="!item.isDecrease">
            {{ item.reason }}
          </span>
          <span v-else>
            <%= __('account.decrease') %> <info-tooltip content="<%= __('faq.13.a'); %> <%= __('faq.14.a'); %>" />
          </span>
        </div>
        <div class="col-md-3 border text-truncate">
          <span v-if="item.withId">
            <a v-if="!item.disabledUser" :href="'/~'+item.withUsername">{{ item.withFullName }}</a>
            <span v-else>{{ item.withFullName }}</span>
          </span>
          <i v-else>(<%= __('user.deleted') %>)</i>
        </div>
      </div>

      <paging :pagination="pagination"></paging>
    </div>
    <div class="text-center" v-else>
      (<%= __('none') %>)
    </div>

    <div class="row text-center mt-5 mb-5">
      <div class="col-sm-12">
        <a class="btn btn-outline-info" href="/~"><%= __('pay.new') %></a>
      </div>
    </div>

  </div>

</div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

