<div id="edit-notifications" v-cloak>
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <h1><%= __('account.editNotifications') %></h1>
    <hr/>
    <ajax-form action="updateNotifications" :syncing.sync="syncing" :form-data="formData" @submitted="submittedForm()">
      <div class="row">
        <% for (const nName in me.notifications) { %>
          <%   const nEnabled = me.notifications[nName]; %>
          <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="form-group">
              <input id="<%= nName %>" name="<%= nName %>" type="checkbox" class="form-check-input" class="form-check-input" v-model="formData.<%= nName %>" @change="updateSettings('<%= nName %>')" />
              <label for="<%= nName %>"><%= __('notification.' + nName) %></label>
            </div>
          </div>
        <% } %>
      </div>
      <div class="row mt-4">
        <div class="col-sm-12 col-md-4 offset-md-4">
          <div class="form-group text-end">
            <a class="btn btn-outline-info" href="/account"><%= __('cancel') %></a>
            <ajax-button type="submit" :syncing="syncing" class="btn btn-dark"><%= __('save') %></ajax-button>
          </div>
        </div>
      </div>
    </ajax-form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
