<div id="edit-profile" v-cloak>
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <h1><%= __('account.editProfile') %></h1>
    <hr/>
    <ajax-form action="updateProfile" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
      <div class="row">
        <div class="col-sm-12 col-md-4 offset-md-4">
          <div class="form-group">
            <label for="full-name"><%= __('name') %></label>
            <input class="form-control" id="full-name" name="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
            <div class="invalid-feedback" v-if="formErrors.fullName"><%= __('form.error.name') %></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 offset-md-4 mt-4">
          <div class="form-group">
            <label for="email"><%= __('email') %></label>
            <input class="form-control" id="email" name="email" type="email"  :class="[formErrors.email ? 'is-invalid' : '']" v-model.trim="formData.email" placeholder="sturgeon@example.com" autocomplete="email">
            <div class="invalid-feedback" v-if="formErrors.email"><%= __('form.error.email') %></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 offset-md-4 mt-4">
          <div class="form-group">
            <label for="email"><%= __('username') %></label>
            <input class="form-control" id="username" name="username" type="text"  :class="[formErrors.username ? 'is-invalid' : '']" v-model.trim="formData.username" placeholder="sturgeon" autocomplete="username">
            <div class="invalid-feedback" v-if="formErrors.email"><%= __('form.error.email') %></div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-12 col-md-4 offset-md-4">
          <cloud-error v-if="cloudError === 'emailAlreadyRegistered'"><%= __('form.error.emailAlreadyRegistered') %></cloud-error>
          <cloud-error v-else-if="cloudError === 'usernameAlreadyRegistered'"><%= __('form.error.usernameAlreadyRegistered') %></cloud-error>
          <cloud-error v-else-if="cloudError"></cloud-error>
        </div>
        <div class="col-sm-12 col-md-4 offset-md-4">
          <div class="form-group text-end">
            <a class="btn btn-outline-info" href="/account"><%= __('cancel') %></a>
            <ajax-button type="submit" :syncing="syncing" class="btn btn-dark"><%= __('save') %></ajax-button>
          </div>
        </div>
      </div>
    </ajax-form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
