<div id="transactions">

  <div class="container-fluid">
    <paging :pagination="pagination"></paging>

    <table class="admin-list">
      <thead>
        <tr>
          <th class="border">ID</th>
          <th class="border">Data</th>
          <th class="border">Importo</th>
          <th class="border">Causale</th>
          <th class="border">Da</th>
          <th class="border">A</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="t in transactions" :key="t.id" class="higlight-row">
          <td class="border">{{ t.id }}</td>
          <td class="border"><show-date :show-time="true" :at="t.createdAt"></show-date></td>
          <td class="border">{{ t.amount }}</td>
          <td class="border">{{ t.reason }}</td>
          <td class="border">
            <a v-if="t.from" :href="'/admin/user/'+t.from.id">{{ t.from.username }}</a>
            <i v-else>(<%= __('user.deleted') %>)</i>
          </td>
          <td class="border">
            <a v-if="t.to" :href="'/admin/user/'+t.to.id">{{ t.to.username }}</a>
            <i v-else>(<%= __('user.deleted') %>)</i>
          </td>
        </tr>
      </tbody>
    </table>

    <paging :pagination="pagination"></paging>
  </div>


</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
