<div id="users">

  <paging :pagination="pagination"></paging>

  <table class="admin-list">
    <thead>
      <tr class="text-center">
        <th class="border">ID</th>
        <th class="border" title="<%- __('privacyPolicy'); %>">
          <i class="fa fa-user-secret"></i>
        </th>
        <th class="border">
          <%- __('username'); %>
        </th>
        <th class="border">
          <%- __('name'); %>
        </th>
        <th class="border">
          <%- __('email'); %>
        </th>
        <th class="border" title="<%- __('privacy.mailing'); %>">
          <i class="fa fa-envelope"></i>
        </th>
        <th class="border">
          <%- __('account.amount'); %>
        </th>
        <th class="border">Ultima transazione</th>
        <th class="border" title="<%- __('admin.dailyAmount'); %>">
          <i class="fa fa-bank"></i>
        <th class="border">- disattivazione</th>
        <th class="border">- riattivazione</th>
        <th class="border">Iscrizione</th>
        <th class="border">Ultimo decr.</th>
        <th class="border">Prossimo decr.</th>
        <th class="border">Ultimo accesso</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="u in users" :key="u.id" class="higlight-row text-center">
        <td class="border">
          <a class="btn btn-secondary mx-1" :href="'/admin/user/'+u.id" :title="'Dettagli utente '+u.fullName">
            {{ u.id }}
        </td>
        <td class="border">
          <i class="fa fa-check text-success" v-if="u.isPrivacyPolicyAccepted"></i>
          <i class="fa fa-times text-danger" v-else></i>
        </td>
        <td class="border text-truncate" :title="u.username + ' - ' + u.role">
          {{ u.username }}
          <sup class="fa fa-star" v-if="u.role === 'founder'" style="font-size:10px;"></sup>
          <sup class="fa fa-wrench" v-if="u.role === 'admin'" style="font-size:10px;"></sup>
        </td>
        <td class="border">
          {{ u.fullName }}
        </td>
        <td class="border text-truncate mail-status">
          <a :class="u.emailStatus !== 'confirmed' ? 'text-muted fst-italic' : ''" :href="'mailto:'+u.email" :title="u.email + ' - ' + u.emailStatus">
            {{ u.email }}
          </a>
        </td>
        <td class="border">
          <i class="fa fa-check text-primary" v-if="u.notifications.mailingList"></i>
        </td>
        <td class="border">
          {{ u.funds }}
        </td>
        <td class="border">
          <small><show-date :show-time="true" :at="u.lastTransactionAt"></show-date></small>
        </td>
        <td class="border">
          <i class="fa fa-check text-success" v-if="u.active"></i>
          <i class="fa fa-lock text-secondary" v-else></i>
        </td>
        <td class="border">
          <small><show-date :at="u.deactivateAt"></show-date></small>
        </td>
        <td class="border">
          <small><show-date :at="u.activateAt"></show-date></small>
        </td>
        <td class="border">
          <small><show-date :show-time="true" :at="u.createdAt"></show-date></small>
        </td>
        <td class="border">
          <small><show-date :at="u.lastDecreaseAt"></show-date></small>
        </td>
        <td class="border">
          <small><show-date :at="u.decreaseAt"></show-date></small>
        </td>
        <td class="border">
          <small><show-date :show-time="true" :at="u.lastSeenAt"></show-date></small>
        </td>
        <td class="border">
          <button v-if="role.deleteUsers && u.role === 'default'" 
            class="btn btn-outline-danger fa fa-trash" 
            style="font-size:0.7em;"
            :title="'Elimina utente '+u.id+':'+u.username+' ('+u.fullName+')'" 
            @click="deleteUser(u.id)">
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <paging :pagination="pagination"></paging>

</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
