<div id="user">

  <div class="container mt-4">
    
    <h1>{{ user.fullName }}</h1>
    
    <h2><%= __('username') %>: {{ user.username }}</h2>
    
    <h3><%= __('role') %>: {{ user.role }}</h3>
    
    <h5 class="my-4">
      <strong>ID: {{ user.id }}</strong>
      &nbsp;
      <button v-if="role.changeRoles && user.role === 'admin'" 
        class="btn btn-outline-dark fa fa-user-times" 
        style="font-size:0.7em;" 
        title="Rendi utente normale" 
        @click="switchAdminUser(user.id)">
      </button>
      <button v-if="role.changeRoles && user.role !== 'admin'"
        class="btn btn-outline-dark fa fa-user-plus" 
        style="font-size:0.7em;" 
        title="Rendi amministratore" 
        @click="switchAdminUser(user.id)">
      </button>
      <button v-if="role.deleteUsers && user.role === 'default'"
        class="btn btn-outline-danger fa fa-trash" 
        style="font-size:0.7em;"
        title="Elimina utente" 
        @click="deleteUser(user.id)">
      </button>
    </h5>
    
    <h3>
      <a :href="'mailto:'+user.email" :title="'Invia email a '+user.fullName">
        {{ user.email }}
      </a>
      <i class="fa fa-check text-success" v-if="user.emailStatus === 'confirmed'"></i>
      <span class="fs-6 fst-italic" v-else><br>({{ user.emailStatus }}<span v-if="user.emailChangeCandidate"> -> {{ user.emailChangeCandidate}}</span>)</span>
    </h3>
    
    <hr />
    
    <p>
      Iscrizione: <show-date :show-time="true" :at="user.createdAt"></show-date> <small class="text-secondary">{{ user.createdAt }}</small><br>
      Ultimo accesso: <show-date :show-time="true" :at="user.lastSeenAt"></show-date> <small class="text-secondary">{{ user.lastSeenAt }}</small><br>
      Privacy policy: 
        <i class="fa fa-check text-success" v-if="user.isPrivacyPolicyAccepted"></i> 
        <i class="fa fa-times text-danger" v-else></i><br>
      Mailing list: 
        <i class="fa fa-check text-success" v-if="user.notifications.mailingList"></i> 
        <i class="fa fa-times text-danger" v-else></i>
    </p>
    
    <hr />
    
    <h4>
      Disponibilità: {{ user.funds }} VAL
    </h4>
    <p>
      Ultimo decremento: <show-date :at="user.lastDecreaseAt"></show-date> <small class="text-secondary">{{ user.lastDecreaseAt }}</small><br>
      Prossimo decremento: <show-date :at="user.decreaseAt"></show-date> <small class="text-secondary">{{ user.decreaseAt }}</small>
    </p>
    
    <hr />
    
    <h4>
      Contributo di emancipazione 
      <i class="fa fa-check text-success" v-if="user.active"></i>
      <i class="fa fa-lock text-secondary" v-else></i>
    </h4>
    <p>
      Disattivazione: <show-date :at="user.deactivateAt"></show-date> <small class="text-secondary">{{ user.deactivateAt }}</small><br>
      <span v-if="!user.active">
        Attivazione: <show-date :at="user.activateAt"></show-date> <small class="text-secondary">{{ user.activateAt }}</small><br>
      </span>
      Ultima transazione: <show-date :show-time="true" :at="user.lastTransactionAt"></show-date> <small class="text-secondary">{{ user.lastTransactionAt }}</small>
    </p>
    
    <hr />
    
    <h4>
      <%= __('admin.attendances'); %>
    </h4>
    
    <ul v-if="user.attendances.length">
      <li v-for="g in user.attendances">
        <a :href="'/admin/attendance/'+g.id">{{ g.title }}</a>
      </li>
    </ul>
    
    <p v-else>(<%= __('none') %>)</p>
    
    <hr />
    
    <h4>
      <%= __('admin.transactions'); %>
    </h4>

    <div class="transactions mt-4" v-if="transactions.length">
      <div class="row text-center font-weight-bold mt-2 border-bottom border-secondary d-none d-md-flex">
        <div class="col-md-1 border">
          ID
        </div>
        <div class="col-md-4 border">
          <%= __('date') %>
        </div>
        <div class="col-md-2 border">
          <%= __('amount') %>
        </div>
        <div class="col-md-3 border">
          <%= __('reason') %>
        </div>
        <div class="col-md-2 border">
          <%= __('user') %>
        </div>
      </div>
      <div class="row text-center mt border-bottom border-secondary higlight-row" v-for="item in transactions" :key="item.id">
        <div class="col-md-1 border">
            {{ item.id }}
        </div>
        <div class="col-md-4 border">
          <show-date :show-time="true" :at="item.date"></show-date>
          <small class="text-secondary">{{ item.date }}</small>
        </div>
        <div class="col-md-2 border pr-4 text-end" :class="item.isPayin ? 'in' : 'out'">
          {{ item.amount }} VAL
        </div>
        <div class="col-md-3 border text-truncate" :title="item.reason">
          {{ item.reason }}
        </div>
        <div class="col-md-2 border">
          <a v-if="item.withUser" :href="'/admin/user/'+item.withUser.id">{{ item.withUser.username }}</a>
          <i v-else>(<%= __('user.deleted') %>)</i>
        </div>
      </div>

      <paging :pagination="pagination"></paging>
    </div>
    <p class="text-center" v-else>(<%= __('none') %>)</p>
    
  </div>


</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
