<div id="404">
  <div style="max-width: 650px;" class="container text-center pt-5 pb-5">
    <h1 class="display-1 mb-3">404</h1>
    <hr/>
    <h2><%= __('404.subtitle') %></h2>
    <div>
      <p><%= __('404.body') %><br class="d-none d-sm-inline" /><span class="d-inline d-sm-none">&nbsp;</span><a href="/contact"><%= __('contact') %></a></p>
    </div>
  </div>
</div>
