<div id="498">
  <div style="max-width: 650px;" class="container text-center pt-5 pb-5">
    <h1><%= __('498.title') %></h1>
    <hr/>
    <div>
      <p>
        <%= __('498.body') %><br class="d-none d-sm-inline" />
      </p>
      <p>
        <span class="d-inline d-sm-none">&nbsp;</span><a href="/contact"><%= __('contact') %></a>
      </p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
