<div id="pay" v-cloak>
  <div class="container pt-5 pb-5">
    <h1 class="text-center">{{ name }}, <%= __('pay.greeting') %></h1>
    <h3 class="text-center"><%= __('account.amount') %>: <%- funds %> VAL</h3>
    
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mx-auto border border-info rounded shadow bg-light mt-4 ml-1 mr-1 p-4">
      
        <ajax-form action="payToUser" :syncing.sync="syncing" 
              :cloud-error.sync="cloudError" :form-data="formData" 
              :form-rules="formRules" :form-errors.sync="formErrors" 
              @submitted="submittedForm()">
              
          <div class="form-row">
            <input v-show="false" id="payeeId" name="payeeId" type="number" v-model="formData.payeeId" v-bind="setPayeeId(payeeId)">
            
            <div class="form-group" v-show="payeeId === null">
              <label for="payeeUsername"><%= __('pay.payeeUsername') %></label>
              <input class="form-control" id="payeeUsername" name="payeeUsername" type="text" v-model="formData.payeeUsername" placeholder="" focus-first>
              <div class="invalid-feedback" v-if="formErrors.payeeUsername"><%= __('form.error.payeeUsername') %></div>
            </div>
            
            <div class="form-group" v-show="payeeId !== null">
              <label for="payeeFullName"><%= __('pay.payeeFullName') %></label>
              <input class="form-control" id="payeeFullName" name="payeeFullName" disabled="true" v-model="formData.payeeFullName" v-bind="setPayeeFullName(payeeFullName)">
            </div>
            
            <div class="form-group mt-3">
              <label for="amount"><%= __('pay.amount') %></label>
              <div class="input-group">
                <input class="form-control" id="amount" name="amount" type="number" 
                      :disabled="amount != null" step="0.01" min="0" 
                      pattern="([0-9]{1,3}).([0-9]{1,3})"  
                      :class="[formErrors.amount ? 'is-invalid' : '']" 
                      v-model.trim="formData.amount" v-bind="setAmount(amount)" 
                      placeholder="000.00">
                <span class="input-group-text">VAL</span>
              </div>
              <div class="invalid-feedback" v-if="formErrors.amount"><%= __('form.error.amount') %></div>
            </div>
          </div>
          
          <div class="form-group mt-3 mb-4">
            <label for="reason"><%= __('pay.reason') %></label>
            <input class="form-control" id="reason" name="reason" type="text" :disabled="reason != null"  :class="[formErrors.reason ? 'is-invalid' : '']" v-model.trim="formData.reason" v-bind="setReason(reason)" placeholder="Lorem ipsum dolor sit amet">
            <div class="invalid-feedback" v-if="formErrors.reason"><%= __('form.error.reason') %></div>
          </div>
          
          <cloud-error v-if="cloudError==='sameUser'"><%= __('pay.error.sameUser') %>.</cloud-error>
          <cloud-error v-else-if="cloudError==='notFound'"><%= __('user.notFound') %>.</cloud-error>
          <cloud-error v-else-if="cloudError==='insufficientFunds'"><%= __('pay.error.insufficientFunds') %>.</cloud-error>
          <cloud-error v-else-if="cloudError"><%- __('pay.error', '/contact') %></cloud-error>
          
          <div class="form-group text-end mt-4 mb-2">
            <a class="btn btn-outline-info" href="/"><%= __('cancel') %></a>
            <ajax-button type="submit" :syncing="syncing" class="btn btn-dark"><%= __('send') %></ajax-button>
          </div>
        </ajax-form>
      
      </div>
    </div>

    <h2 class="mt-5 text-center" v-if="transactions.length"><%= __('account.transactions') %></h2>
    <div class="transactions ml-1 mr-1" v-if="transactions.length">
      <div class="row text-center font-weight-bold mt-2 d-none d-md-flex">
        <div class="col-md-2 offset-md-2 border">
          <%= __('date') %>
        </div>
        <div class="col-md-2 border">
          <%= __('amount') %>
        </div>
        <div class="col-md-4 border">
          <%= __('reason') %>
        </div>
      </div>
      <div class="row text-center mt higlight-row" v-for="item in transactions" :key="item.id">
        <div class="col-md-2 offset-md-2 border">
          <show-date :show-time="true" :at="item.date"></show-date>
        </div>
        <div class="col-md-2 border pr-4 text-end" :class="item.isPayin ? 'in' : 'out'">
          {{ item.amount }} VAL
        </div>
        <div class="col-md-4 border text-truncate" data-toggle="tooltip" data-placement="top" :title="item.reason">
          <span v-if="!item.isDecrease">{{ item.reason }}</span>
          <span v-else><%= __('account.decrease') %></span>
        </div>
      </div>
      <paging :pagination="pagination"></paging>
    </div>

  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>


