<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px;"><%= fullName %>,</p>

<p style="margin-bottom: 25px;"><%- __('mail.account.new') %></p>

<p style="margin-bottom: 5px;"><%= __('thankYou') %>.</p>
