<div id="confirmed-email" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center"><%= __('account.confirmed.title') %></h1>
    <div style="max-width: 450px;" class="mx-auto text-center">
      <hr/>
      <p><%= __('account.confirmed.info') %></p>
      <p><a class="btn btn-outline-info" href="/"><%= __('login.page.title') %></a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
