<div id="login" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center"><%= __('login.page.title') %></h1>
    <div style="max-width: 450px;" class="mx-auto">
      <hr/>
      <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm(redirectUrl)">
        <div class="form-group">
          <label for="username"><%= __('usernameOrEmail'); %></label>
          <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="" :class="[formErrors.username ? 'is-invalid' : '']" v-model.trim="formData.username" autocomplete="username" focus-first>
          <div class="invalid-feedback" v-if="formErrors.username"><%= __('form.error.username') %></div>
        </div>
        <div class="form-group mt-3">
          <label for="password"><%= __('password'); %></label>
          <input type="password" class="form-control" id="password" placeholder="********" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" autocomplete="current-password">
          <div class="invalid-feedback" v-if="formErrors.password"><%= __('form.error.password') %></div>
        </div>
        <div class="form-check mt-3 mb-3">
          <input type="checkbox" class="form-check-input" id="remember" name="rememberMe" v-model="formData.rememberMe"/>
          <label class="form-check-label" for="remember"><%= __('login.rememberMe') %></label>
        </div>
        <cloud-error v-if="cloudError==='badCombo'"><%= __('login.notFound') %></cloud-error>
        <cloud-error v-else-if="cloudError"></cloud-error>
        <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block"><%= __('login') %></ajax-button>
      </ajax-form>
      <p class="text-center"><a href="/password/forgot"><%= __('login.passwordForgot') %></a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
