<div id="new-password" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center"><%= __('password.recovery.title') %></h1>
    <div style="max-width: 450px" class="mx-auto">
      <hr/>
      <ajax-form action="updatePasswordAndLogin" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <label for="password"><%= __('password.new') %></label>
          <input class="form-control" id="password" name="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password" focus-first>
          <div class="invalid-feedback" v-if="formErrors.password"><%= __('form.error.password') %></div>
        </div>
        <div class="form-group">
          <label for="confirm-password"><%= __('password.confirm') %></label>
          <input class="form-control" id="confirm-password" name="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword"><%= __('form.error.passwordMatch') %></div>
        </div>
        <cloud-error v-if="cloudError"></cloud-error>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block"><%= __('send') %></ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><%= __('password.remembered') %> <a href="/login"><%= __('login') %></a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
