<div id="signup" v-cloak>
  <div class="container-fluid pt-5 pb-5" v-if="!cloudSuccess">
    <h1 class="text-center"><%= __('account.create') %></h1>
    <div style="max-width: 450px;" class="mx-auto" >
      <p class="text-center"><%= __('account.create.tagline') %></p>
      <hr/>
      <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-errors.sync="formErrors" :form-data="formData" :form-rules="formRules" @submitted="submittedForm()">

        <div class="form-group">
          <label for="email"><%= __('email') %></label><br />
          <sup><%= __('form.email.tip'); %></sup>
          <input class="form-control" id="email" name="email" type="email"
                :class="[formErrors.email || formErrors.emailAlreadyRegistered ? 'is-invalid' : '']"
                v-model.trim="formData.email"
                @blur="isEmailAlreadyRegistered()"
                placeholder="sturgeon@example.com" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.email"><%= __('form.error.email') %></div>
          <div class="invalid-feedback" v-if="formErrors.emailAlreadyRegistered"><%= __('form.error.emailAlreadyRegistered') %></div>
        </div>

        <div class="form-group mt-3">
          <label for="username"><%= __('username') %></label><br />
          <sup><%= __('form.username.tip'); %></sup>
          <input class="form-control" id="username" name="username" type="text"
              :class="[formErrors.username || formErrors.usernameAlreadyRegistered || formErrors.usernameNotValid ? 'is-invalid' : '']"
              v-model.trim="formData.username"
              @blur="isUsernameAlreadyRegistered();isUsernameValid()"
              placeholder="sturgeon" autocomplete="username"
              pattern="[a-z]+[a-z0-9_]*[a-z0-9]"
              aria-describedby="user-url">
          <div class="invalid-feedback" v-if="formErrors.username"><%= __('form.error.username') %></div>
          <div class="invalid-feedback" v-if="formErrors.usernameAlreadyRegistered"><%= __('form.error.usernameAlreadyRegistered') %></div>
          <div class="invalid-feedback" v-if="formErrors.usernameNotValid"><%= __('form.error.usernameNotValid') %></div>
        </div>

        <div class="form-group mt-3">
          <label for="full-name"><%= __('form.fullName') %></label><br />
          <sup><%= __('form.fullName.tip'); %></sup>
          <input class="form-control" id="full-name" type="text"
                :class="[formErrors.fullName ? 'is-invalid' : '']"
                v-model.trim="formData.fullName"
                placeholder="Sturgis P. Sturgeon" autocomplete="name">
          <div class="invalid-feedback" v-if="formErrors.fullName"><%= __('form.error.name') %></div>
        </div>

        <div class="form-group mt-3">
          <label for="password"><%= __('password.choose') %></label>
          <input class="form-control" id="password" type="password"
                :class="[formErrors.password ? 'is-invalid' : '']"
                v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.password"><%= __('form.error.password') %></div>
        </div>

        <div class="form-group mt-2">
          <label for="confirm-password"><%= __('password.confirm') %></label>
          <input class="form-control" id="confirm-password" type="password"
                :class="[formErrors.confirmPassword ? 'is-invalid' : '']"
                v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword"><%= __('form.error.passwordMatch') %></div>
        </div>

        <div class="form-group form-check mt-4 mb-4">
          <input class="form-check-input" id="privacy-agreement" type="checkbox" v-model="formData.isPrivacyPolicyAccepted">
          <label for="privacy-agreement" class="form-check-label" :class="[formErrors.isPrivacyPolicyAccepted ? 'text-danger' : '']">
            <%= __('privacy.acceptance') %> <a target="_blank" href="<%= sails.config.custom.privacyPolicyUrl %>">(?)</a>
          </label>
        </div>
        
        <div class="form-group form-check mt-4 mb-4">
          <input class="form-check-input" id="mailing-agreement" type="checkbox" v-model="formData.isMailingListAccepted">
          <label for="mailing-agreement" class="form-check-label" :class="[formErrors.isMailingListAccepted ? 'text-danger' : '']">
            <%= __('privacy.mailing') %>
          </label>
        </div>

        <cloud-error v-if="cloudError==='alreadyRegistered'"><%= __('account.alreadyRegistered') %> <a href="password/forgot"><%= __('here') %></a>.</cloud-error>
        <cloud-error v-else-if="cloudError==='invalid'"><%= __('form.error.invalid') %></cloud-error>
        <cloud-error v-else-if="cloudError"></cloud-error>

        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" 
            class="btn-dark btn-lg btn-block"
            :disabled="!formData.isPrivacyPolicyAccepted">
            <%= __('account.create') %>
          </ajax-button>
        </div>
      </ajax-form>
      <p class="text-center pt-3"><%= __('account.alreadyRegistered.question') %> <a href="/login"><%= __('login') %></a></p>
    </div>
  </div>
  <div class="container-fluid pt-5 pb-5" v-if="cloudSuccess">
    <h1 class="text-center"><%= __('mail.check') %></h1>
    <div class="text-center">
      <hr/>
      <p><%= __('mail.confirm.info.1') %> <strong>{{formData.email}}</strong>.</p>
      <p>(<%= __('mail.confirm.info.2') %>)</p>
      <p><a class="btn btn-outline-info" href="/"><%= __('account.go') %></a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
