[v-cloak] { display: none; }

html, body {
  height: 100%;
  margin: 0;
}

.transactions {
  .row {
    padding-top: 5px;
  }
  .in {
    font-weight: bold;
    color: @in;
  }
  .out {
    font-weight: bold;
    color: @out;
  }
  .out::before {
    content: '-';
  }
}

.admin-list {
  width: 100%;

  thead {
    top: 0;
    position: sticky;
    background: #d9d9da;
  }

  tbody tr:hover {
    background: #d9d9da;
  }
}

footer {
  .valazco-info {
    font-size: 12px;
  }
}
