#homepage {

  table {
    width: 40%;
    margin: auto;
    @media (max-width: 991px) {
      width: 100%;
    }
    img {
     //width: 100%;
    }
  }

  img.logo {
    width: 90%;
    margin: auto;
    @media (max-width: 991px) {
      width: 30%;
    }
  }
}

#faq {

  @media (max-width: 500px) {
    code {
      word-break: break-all;
    }
    [purpose='placeholder'] {
      word-break: break-all;
    }
  }
}
