<div id="faq">
  <div class="container pt-5 pb-5">
    <h1>FAQ</h1>
    <% for(var i = 1; i <= faqNum; i++) { %>
      <h4 id="<%= i %>"><%= __('faq.'+i+'.q'); %></h4>
      <p><%- __('faq.'+i+'.a'); %></p>
      <% if(i<faqNum){ %><hr><% } %>
    <% } %>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
