<div id="attendance">

  <div class="container mt-4">
    <h2>{{attendance.title}}</h2>
    <h3 v-if="attendance.attendanceFee">
      {{attendance.attendanceFee}} VAL
      <span v-if="attendance.sendAttendanceFeeAt">: <show-date :show-time="true" :at="attendance.sendAttendanceFeeAt"></show-date></span>
    </h3>
    <hr />
    <h4><%= __('attendees') %></h4>
    <ul>
      <li v-for="u in attendance.attendees">
        <a :href="'/admin/user/'+u.id">{{u.fullName}}</a>
      </li>
    </ul>
  </div>

</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
