<div id="system-info">

  <div class="container-fluid pt-5 pb-5 text-center">
    <p>
      <%= __('admin.initialAmount') %>: <%= initialAmount %> VAL<br>
      <%= __('admin.dailyAmount') %>: <%= dailyAmount %> VAL<br>
      <%= __('admin.maxInactivity') %>: <%= maxInactivity %> <%= __('days') %><br>
      <%= __('admin.reactivateTime') %>: <%= reactivateTime %> <%= __('days') %><br>
      <%= __('admin.decreasePercentage') %>: <%= decreasePercentage %>%<br>
      <%= __('admin.decreaseTime') %>: <%= decreaseTime %> <%= __('days') %><br>
      <br>
      <%= __('admin.fundsGlobalSum') %>: <%= sails.fundsGlobalSum %> VAL<br>
      <%= __('admin.transactionsSum') %>: <%= sails.transactionsSum %> VAL<br>
      <%= __('admin.transactionsSumThisWeek') %>: <%= sails.transactionsSumThisWeek %> VAL<br>
      <%= __('admin.transactionsSumThisMonth') %>: <%= sails.transactionsSumThisMonth %> VAL<br>
      <%= __('admin.transactionsSumThisYear') %>: <%= sails.transactionsSumThisYear %> VAL<br>
      <%= __('admin.usersCount') %>: <%= sails.usersCount %><br>
      <%= __('admin.adminsCount') %>: <%= sails.adminsCount %><br>
    </p>
  </div>


</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
