<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>

<p>
  <%= __('username') %>: <%= username %>
</p>
<p>
  <%= __('name') %>: <%= fullName %>
</p>
<p>
  <%= __('email') %>: <%= email %>
</p>

<p>
  <a href="<%= url.resolve(sails.config.custom.baseUrl,'/admin/user/') + userId %>">
    <%= __('view') %>
  </a>
</p>
